body {
    /* margin: 0px; */
}

#container {
    position: absolute;
    border-radius: 75%;
    margin: 0px;
    padding: 0px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}