body {
    margin: 0px;
}

#container {
    position: absolute;
    border-radius: 75%;
    margin: 30px;
    padding: 0px;
    /* border: 2px dashed pink; */
    /* background-color: black; */
    /* background: radial-gradient(white, grey); */
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes spin_reverse {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}