html {
    background: linear-gradient(rgb(241, 9, 241), rgb(238, 147, 11));
}

body {}

input {
    box-shadow: 5px 5px 3px blue, 10px 10px 3px red, 15px 15px 3px green;
}

.header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.word {
    display: flex;
    align-items: flex-end;
}

table {
    margin: 15px;
}